#define QUICK_TAP_MS 175

// home-row mods
ZMK_BEHAVIOR(lh_pht, hold_tap,  // left-hand HRMs
	flavor = "balanced";
	tapping-term-ms = <180>;
	quick-tap-ms = <QUICK_TAP_MS>;
	bindings = <&kp>, <&kp>;
	hold-trigger-key-positions = <KEYS_R THUMBS>;
	hold-trigger-on-release;            // requires PR #1423
)
ZMK_BEHAVIOR(rh_pht, hold_tap,  // right-hand HRMs
	flavor = "balanced";
	tapping-term-ms = <180>;
	quick-tap-ms = <QUICK_TAP_MS>;
	bindings = <&kp>, <&kp>;
	hold-trigger-key-positions = <KEYS_L THUMBS>;
	hold-trigger-on-release;            // requires PR #1423
)
