if SHIELD_MICRODIX_RIGHT

config ZMK_KEYBOARD_NAME
	default "Microdix-TP"

config ZMK_SPLIT_ROLE_CENTRAL
	default y
endif

if SHIELD_MICRODIX_LEFT || SHIELD_MICRODIX_RIGHT

config ZMK_SPLIT
	default y
endif
