/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include "keymap_french.h"

#define BASE       1
#define NAV        4
#define MOUSE      5
#define MEDIA      6
#define NUM        7
#define SYM        8
#define FUN        9
#define SFT_SYM    10
#define LAYER_LOCK 11

&mt {
    tapping-term-ms = <175>;
    flavor = "tap-preferred";
};

&sk {
     release-after-ms = <2000>;
     quick-release;
};

&mmv {
    acceleration-exponent=<1>;
    time-to-max-speed-ms = <200>;
};


/ { 
	macros {

	};

	combos {

	};
	behaviors {
		td_quote: tap_dance_mod_tap {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_MOD_TAP";
			#binding-cells = <0>;
			tapping-term-ms = <175>;
			bindings = <&mt FR_EXLM FR_DQUO>, <&kp FR_QUOT>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp FR_Q			&mt FR_CIRC FR_W	&mt LA(FR_ASTR) FR_F	&mt LA(FR_PLUS) FR_P	&mt FR_DIAE FR_G	 	&mt FR_DIAE FR_J	&mt LA(FR_PLUS) FR_L	&mt LA(FR_ASTR) FR_O	&mt FR_CIRC FR_Y	&td_quote
				&mt LMETA FR_A		&mt LALT FR_R		&mt LCTRL FR_S			&mt LSHFT FR_T			&kp FR_D 				&kp FR_H			&mt RSHFT FR_N			&mt RCTRL FR_E			&mt RALT FR_I		&mt RMETA FR_U
				&mt LCTL Z			&mt LALT X			&mt LA(C) C				&kp D					&kp V	 				&kp K				&mt LA(U) M				&kp COMMA				&mt LA(SEMI) DOT	&mt BSLH FSLH
														&kp LSHIFT				&mt LGUI BSPC			&mo 1					&mo 2				&mt BSPC SPACE			&mt RSHIFT TAB
			>;
		};
		
			num_layer {
		bindings = <
	    &kp EXCL	&kp AT					&kp LBKT	&kp RBKT	&kp GRAVE			&kp KP_MULTIPLY	&kp KP_N7	&kp KP_N8	&kp KP_N9	&kp KP_MINUS
	    &kp HASH	&mt LA(LS(AT)) DOLLAR	&kp LPAR	&kp RPAR	&kp TILDE			&kp PLUS		&kp KP_N4	&kp KP_N5	&kp KP_N6	&kp KP_N0
	    &kp PERCENT	&kp AMPS				&kp LBRC	&kp RBRC	&kp PIPE			&kp EQUAL		&kp KP_N1	&kp KP_N2	&kp KP_N3	&mt LS(SEMI) SEMI
	    					                &trans		&trans		&trans 				&trans			&kp UNDER		&trans
		>;
        };
		
			arrow_layer {
		bindings = <
	    &kp F1	&kp F2	&kp F3		&kp F4		&kp F5			&mmv MOVE_LEFT	&mmv MOVE_DOWN	&mmv MOVE_UP	&mmv MOVE_RIGHT	&kp HOME
	    &kp F6	&kp F7  &mkp RCLK	&mkp LCLK	&kp F10			&kp LEFT		&kp DOWN		&kp UP			&kp RIGHT		&trans
	    &trans	&trans	&trans		&trans		&trans			&trans			&kp C_BRI_DN	&kp C_BRI_UP	&trans			&trans
	    				            &trans		&trans		&trans			&trans			&trans			&trans
		>;
        };
	};
};
